@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Nunito:ital,wght@0,300;1,300&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
body h1 {
  font-family: "Josefin Sans", sans-serif;
}

.yellow-txt {
  color: #C69963;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

button {
  background-color: #C69963;
  font-size: 0.8rem;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.3s ease;
}
button:hover {
  background-color: #bf8d50;
}
button:active {
  background-color: #b48042;
}

nav {
  background-color: #C69963 !important;
}
nav .navbar-brand {
  font-family: "Josefin Sans", sans-serif;
}

.header {
  background-color: #101d2c;
}
.header #banner {
  background-image: url(../img/hero.jpeg);
  background-color: rgba(16, 29, 44, 0.9);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.header #banner #sideline {
  width: 90%;
}
.header #banner #sideline #seen-on {
  overflow: hidden;
  opacity: 0.7;
}
.header #banner #sideline #seen-on:after {
  content: "";
  display: inline-block;
  height: 0.7em;
  vertical-align: bottom;
  width: 50%;
  margin-right: -50%;
  margin-left: 15px;
  border-top: 1px solid white;
  opacity: 0.7;
}
.header #banner #sideline #seen-on:before {
  content: "";
  display: inline-block;
  height: 0.7em;
  vertical-align: bottom;
  width: 50%;
  margin-right: 15px;
  margin-left: -50%;
  border-top: 1px solid white;
  opacity: 0.7;
}
.header #banner img {
  height: 20px;
}
.header #banner span img {
  opacity: 0.7;
}

#relators .relator-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}
#relators .relator-sells {
  opacity: 0.7;
  font-size: 0.7rem;
}
#relators img {
  height: 75px;
}

#prod-desc .desc-title {
  font-family: "Josefin Sans", sans-serif;
  opacity: 0.8;
}
#prod-desc .desc-txt {
  opacity: 0.8;
}

#review-block {
  background-color: #F9F7F6;
}
#review-block #review-left {
  background-image: url(../img/back.jpg);
  background-color: rgba(233, 208, 196, 0.7);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
#review-block #review-left #story-2 {
  transform: translate(75%, -20%);
}
@media screen and (max-width: 768px) {
  #review-block #review-left #story-2 {
    transform: translate(50%, 20%);
  }
}
#review-block #review-right #review-quote {
  font-family: "Josefin Sans", sans-serif;
  color: #54483A;
}
#review-block #review-right #review-txt {
  opacity: 0.7;
}

#showcase .showcase-item .item-wrapper {
  background-color: #F9F7F6;
  width: 90%;
}
#showcase .showcase-item .item-wrapper .item-title {
  font-family: "Josefin Sans", sans-serif;
  background-color: #101D2C;
  width: 80%;
  transform: translateY(-20px);
}
#showcase .showcase-item .item-wrapper td {
  opacity: 0.7;
}

.footer {
  background-color: #101d2c;
}
.footer .footer-links {
  font-family: "Josefin Sans", sans-serif;
}
.footer .footer-links a {
  transition: 0.3s ease;
}
.footer .footer-links a:hover {
  color: #cc9966 !important;
}
.footer .footer-links a:active {
  color: #b48042 !important;
}
.footer #copyrights {
  opacity: 0.7;
}
